.darkTip {
  background-color: var(--midDarkGray) !important;
  padding: 2px;
}
[role="tooltip"] {
  display: none;
  background-color: var(--transBlack);
  padding: 2px 4px;
  color: white;
  border-radius: 4px;
  font-size: 13px;
  flex-direction: column;
  min-width: 60px;
  text-align: center;
}
.tool-menu__modal {
  [role="tooltip"] {
    background-color: var(--transDarkGray);
    min-width: 250px;
    max-width: 410px;
    text-align: unset;
    padding: 0;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.5);
    p {
      padding: 10px;
      font-size: 14px;

      text-wrap: pretty;
      img {
        width: 11px;
      }
    }
    .resAmountPerMin {
      width: 55px;
      font-size: 14px;
    }
    p:last-of-type {
      text-align: center;
      padding: 5px;
    }
    .timeBlock {
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;

      .timeImage {
        width: 12px;
        height: 12px;
      }
      .resTime {
        padding: 3px 6px 0 0;
      }
    }

    .resourcesBlock {
      display: flex;
      flex-direction: column;

      align-items: center;
      justify-content: center;

      .resourseBlock {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        height: 45px;
      }
      .resAmountPerMin {
        width: unset;
      }
      .timeBlock {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;

        .resTime {
          padding: 4px 2px 0 0;
        }
      }
      .resImage {
        width: 45px;
        max-height: 45px;
        padding: 3px 0;
      }
      .resName {
        font-size: 14px;
        min-width: 75px;
      }
    }
    [data-energy-icon] {
      width: 18px;
    }
    .energyAmount {
      font-size: 14px;
    }

    .costsBlock {
      display: flex;
      height: 30px;
      width: 100%;
      margin: 0 auto;
      padding: 5px 0;
      background-color: var(--transBlack);
      div {
        display: flex;
        position: relative;
        margin: 0 auto;
      }
      .resImage {
        width: 30px;
        height: auto;
      }
      .resAmount {
        font-size: 13px;
        position: absolute;
        bottom: 0;
        right: -7px;
      }
    }
    .waterAndEnergyBlock {
      display: flex;
      gap: 5px;
      background-color: var(--transBlack);
      align-items: center;
      padding: 2px 15px;

      img {
        height: 21px;
      }
    }
    .recipesTipBlock {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      gap: 5px;
      background-color: var(--transXXXDarkGray);
      padding: 3px 0;
      // width: 100%;
      .recipe {
        &__items {
          display: flex;
          align-items: center;
          justify-content: start;
          position: relative;
          padding: 2px 15px;

          height: 45px;
        }

        &__materials {
          display: flex;
          gap: 5px;
        }

        &__item {
          position: relative;
        }

        &__arrow {
          position: absolute;
          top: 25px;
          left: 50%;
          transform: translateX(-50%);
          width: 35px;
        }

        &__timeBlock {
          display: flex;
          position: relative;
          padding: 5px;
          align-items: center;
          margin-bottom: auto;
          .timeImage {
            width: 12px;
            height: 12px;
          }
          .resTime {
            font-size: 16px;
            position: absolute;
            bottom: -54px;
            right: 30px;
          }
        }

        &__product {
          display: flex;
        }
        &__itemImage {
          width: 45px;
          max-height: 42px;
        }
        &__itemAmount {
          position: absolute;
          right: -6px;
          bottom: -3px;
          font-size: 14px;
        }
      }
    }
    p:last-of-type {
      background-color: var(--transBlack);
    }
  }
}

[role="tooltip"][data-show] {
  display: flex;
}
.smallNotyf {
  background-color: var(--transXXLightGray);
  border-radius: 8px;
  padding: 0px;
  font-family: "Roboto";
  box-shadow: none !important;
  margin: 3px !important;
  width: 350px !important;
  max-width: 100% !important;
  .notyf__wrapper {
    padding: 5px 10px 5px 5px !important;
  }
}
.error {
  width: 350px !important;
  max-width: 100% !important;
  .notyf__ripple {
    height: 50em;
    width: 50em;
  }
}
.notyf__toast {
  margin: 3px !important;
  .notyf__wrapper {
    padding: 5px 10px 5px 5px !important;
  }
}

#foundryTip {
  .recipesTipBlock {
    align-items: unset;
  }
}
