@mixin buildingBase {
  background-color: rgba(0, 0, 0, 0) !important;
  background-size: cover;
  border: none !important;
  transform: rotateZ(323deg) rotateY(64deg) rotate3d(8, -11, -5, 12deg);
  position: absolute;
  pointer-events: none;
  &:hover {
    width: 100%;
    height: auto;
    filter: brightness(1) contrast(100%) saturate(100%) hue-rotate(0deg);
    /* Красный фильтр */
    background-color: rgba(255, 0, 0, 0.5);
  }
}
@mixin buildingShadow($bottom, $left, $width, $height) {
  z-index: 1;
  content: "";
  position: absolute;
  bottom: $bottom;
  left: $left;
  transform: translateX(-50%);
  width: $width;
  height: $height;
  background-color: rgba(0, 0, 0, 0.4);
  filter: blur(8px);
  pointer-events: none;
}

[data-image-type="mineshaft"] {
  @include buildingBase;
  width: 200px;
  top: -90px;
  left: -113px;
}
[data-image-type="quarry"] {
  @include buildingBase;
  width: 220px;
  top: -57px;
  left: -77px;
}
[data-res-type="Clay"] {
  [data-image-type="quarry"] {
    top: -49px;
    left: -67px;
  }
}
[data-res-type="Limestone"] {
  [data-image-type="quarry"] {
    top: -49px;
    left: -67px;
  }
}
[data-image-type="rubberTreePlantation"] {
  @include buildingBase;
  width: 133px;
  top: -26px;
  left: -33px;
}
[data-building-type="rubberTreePlantation"][data-main-tile="true"]:after {
  @include buildingShadow(-36px, 28px, 72px, 70px); //bottom, left, width, height
}
//ORE PROCESSING
[data-image-type="oreProcessing"] {
  @include buildingBase;
  width: 245px;
  top: -128px;
  left: -127px;
}
[data-building-type="oreProcessing"][data-main-tile="true"]:after {
  @include buildingShadow(-36px, 28px, 92px, 106px); //bottom, left, width, height
}

[data-image-type="foundry"] {
  @include buildingBase;
  width: 488px;
  top: -184px;
  left: -228px;
}
[data-building-type="foundry"][data-main-tile="true"]:after {
  @include buildingShadow(-90px, 60px, 162px, 146px); //bottom, left, width, height
}
[data-image-type="powerPlant"] {
  @include buildingBase;
  width: 478px;
  top: -119px;
  left: -146px;
}
[data-building-type="powerPlant"][data-main-tile="true"]:after {
  @include buildingShadow(-148px, 90px, 182px, 186px); //bottom, left, width, height
}
[data-image-type="concretePlant"] {
  @include buildingBase;
  width: 532px;
  top: -151px;
  left: -198px;
}
[data-building-type="concretePlant"][data-main-tile="true"]:after {
  @include buildingShadow(-128px, 90px, 212px, 186px); //bottom, left, width, height
}
[data-image-type="carFactory"] {
  @include buildingBase;
  width: 591px;
  top: -146px;
  left: -196px;
}
[data-building-type="carFactory"][data-main-tile="true"]:after {
  @include buildingShadow(-115px, 95px, 262px, 186px); //bottom, left, width, height
}
[data-image-type="brickFactory"] {
  @include buildingBase;
  width: 366px;
  top: -131px;
  left: -160px;
}
[data-building-type="brickFactory"][data-main-tile="true"]:after {
  @include buildingShadow(-60px, 50px, 132px, 126px); //bottom, left, width, height
}
[data-image-type="smallFoundry"] {
  @include buildingBase;
  width: 305px;
  top: -127px;
  left: -130px;
}
[data-building-type="smallFoundry"][data-main-tile="true"]:after {
  @include buildingShadow(-36px, 48px, 100px, 110px); //bottom, left, width, height
}
[data-image-type="crushingPlant"] {
  @include buildingBase;
  width: 305px;
  top: -98px;
  left: -125px;
}
[data-building-type="crushingPlant"][data-main-tile="true"]:after {
  @include buildingShadow(-26px, 28px, 42px, 46px); //bottom, left, width, height
}
[data-building-category="conveyor"][data-main-tile="true"]:after {
  @include buildingShadow(0px, 15px, 35px, 36px); //bottom, left, width, height
}

[data-image-type="cementPlant"] {
  @include buildingBase;
  width: 339px;
  top: -125px;
  left: -147px;
}
[data-building-type="cementPlant"][data-main-tile="true"]:after {
  @include buildingShadow(-63px, 49px, 132px, 126px); //bottom, left, width, height
}
[data-image-type="oilRefinery"] {
  @include buildingBase;
  width: 529px;
  top: -142px;
  left: -187px;
}
[data-building-type="oilRefinery"][data-main-tile="true"]:after {
  @include buildingShadow(-66px, 59px, 132px, 126px); //bottom, left, width, height
}
[data-image-type="chemicalPlant"] {
  @include buildingBase;
  width: 406px;
  top: -125px;
  left: -161px;
}
[data-building-type="chemicalPlant"][data-main-tile="true"]:after {
  @include buildingShadow(-66px, 59px, 132px, 126px); //bottom, left, width, height
}
[data-image-type="glassFactory"] {
  @include buildingBase;
  width: 397px;
  top: -134px;
  left: -128px;
}
[data-building-type="glassFactory"][data-main-tile="true"]:after {
  @include buildingShadow(-70px, 85px, 202px, 126px); //bottom, left, width, height
}

[data-image-type="smallAssembly"] {
  @include buildingBase;
  width: 373px;
  top: -81px;
  left: -135px;
}
[data-building-type="smallAssembly"][data-main-tile="true"]:after {
  @include buildingShadow(-113px, 59px, 132px, 176px); //bottom, left, width, height
}
[data-image-type="assembly"] {
  @include buildingBase;
  width: 514px;
  top: -125px;
  left: -210px;
}
[data-building-type="assembly"][data-main-tile="true"]:after {
  @include buildingShadow(-163px, 59px, 132px, 216px); //bottom, left, width, height
}
[data-image-type="steelMill"] {
  @include buildingBase;
  transform: rotateZ(323deg) rotateY(64deg) rotate3d(8, -11, -5, 12deg);
  width: 464px;
  top: -107px;
  left: -212px;
}
[data-building-type="steelMill"][data-main-tile="true"]:after {
  @include buildingShadow(-203px, 49px, 132px, 256px); //bottom, left, width, height
}
[data-image-type="mediumStorage"] {
  @include buildingBase;
  width: 236px;
  top: -75px;
  left: -96px;
}
[data-building-type="mediumStorage"][data-main-tile="true"]:after {
  @include buildingShadow(-36px, 35px, 80px, 83px); //bottom, left, width, height
}
[data-image-type="smallStorage"] {
  @include buildingBase;
  width: 217px;
  top: -55px;
  left: -72px;
}

[data-building-type="smallStorage"][data-main-tile="true"]:after {
  @include buildingShadow(-36px, 35px, 80px, 83px); //bottom, left, width, height
}
[data-image-type="garage"] {
  @include buildingBase;
  width: 169px;
  top: -34px;
  left: -55px;
}

[data-building-type="garage"][data-main-tile="true"]:after {
  @include buildingShadow(-36px, 35px, 70px, 83px); //bottom, left, width, height
}
[data-image-type="sawmill"] {
  @include buildingBase;
  width: 204px;
  top: -52px;
  left: -68px;
}

[data-building-type="sawmill"][data-main-tile="true"]:after {
  @include buildingShadow(-36px, 35px, 100px, 89px); //bottom, left, width, height
}
[data-image-type="lumbermill"] {
  @include buildingBase;
  width: 130px;
  top: -27px;
  left: -57px;
}

[data-building-type="lumbermill"][data-main-tile="true"]:after {
  @include buildingShadow(-40px, 25px, 30px, 80px); //bottom, left, width, height
}
[data-image-type="waterPump"] {
  @include buildingBase;
  width: 85px;
  top: -25px;
  left: -34px;
}
[data-image-type="windTurbine"] {
  @include buildingBase;
  width: 130px;
  top: -63px;
  left: -77px;
}
[data-building-type="windTurbine"][data-main-tile="true"]:after {
  @include buildingShadow(0px, 20px, 10px, 43px); //bottom, left, width, height
}
[data-image-type="tradingTerminal"] {
  @include buildingBase;
  width: 452px;
  top: -64px;
  left: -165px;
}
[data-building-type="tradingTerminal"][data-main-tile="true"]:not([data-features-type]):before {
  @include buildingShadow(-196px, 50px, 120px, 235px); //bottom, left, width, height
}
.ghostImg {
  position: relative;
  img {
    @include buildingBase;
    opacity: 60%;
    z-index: 10000;
  }
}

[data-image-type="gravelRoad"],
[data-image-type="concreteRoad"] {
  @include buildingBase;
  transform: rotateZ(321deg) rotateY(62deg) rotate3d(6, -11, -5, 10deg);
  width: 105px;
  top: -24px;
  left: -33px;
}
[data-building-type="gravelRoad"] {
  font-size: 12px;
}
[data-underground-type="pipe"] {
  position: relative;
}

.possibleConnectWith .clickArea {
  position: relative;
  z-index: 1;
}
.noEvents {
  pointer-events: none;
}

.transperentBuilding {
  opacity: 60%;
}

[data-type="building"] {
  position: relative;
}
.structure {
  position: relative;
}
.clickArea {
  position: relative;
  // pointer-events: all;
  z-index: 300;
}
[data-direction="right"],
[data-direction="down"] {
  [data-image-type="cargoStation"] {
    @include buildingBase;
    transform: rotateZ(322deg) rotateY(62deg) rotate3d(8, -11, -5, 11deg);
    width: 122px;
    top: -40px;
    left: -51px;
  }
}
[data-image-type="cargoStation"] {
  @include buildingBase;
  transform: rotateZ(322deg) rotateY(62deg) rotate3d(8, -11, -5, 11deg);
  width: 111px;
  top: -31px;
  left: -40px;
}

.bldIndicatorsBlock {
  display: flex;
  position: absolute;
  transform: rotateZ(322deg) rotateY(62deg) rotate3d(8, -11, -5, 11deg);
  width: 100px;
  z-index: 999;
  top: -60px;
  right: 5px;
  gap: 5px;
  pointer-events: none;
  img {
    border: 1px solid var(--black);
    border-radius: 10px 0 10px 0;
    padding: 4px;
    background-color: var(--transRed);
    width: 28px;
    animation: flash 1s infinite;
  }
}
