@mixin smokeBase {
  position: absolute;
  transform: rotateZ(323deg) rotateY(68deg) rotate3d(8, -11, -5, 11deg);
  z-index: 999;
  filter: brightness(0.5) blur(0.6px) opacity(0.9);
  pointer-events: none;
}

.oreProcessingSmoke {
  @include smokeBase();
  top: -200px;
  right: 90px;
  width: 100px;
  height: 150px;
}
.smelterSmoke {
  @include smokeBase();
  top: -290px;
  right: 110px;
  width: 150px;
  height: 200px;
}
