@mixin buildingBase {
  background-color: rgba(0, 0, 0, 0) !important;
  background-size: cover;
  border: none !important;
  transform: rotateZ(323deg) rotateY(68deg) rotate3d(8, -11, -5, 11deg);
  position: absolute;
  pointer-events: none;
  z-index: 100;
  &:hover {
    width: 100%;
    height: auto;
    filter: brightness(1) contrast(100%) saturate(100%) hue-rotate(0deg);
    /* Красный фильтр */
    background-color: rgba(255, 0, 0, 0.5);
  }
}

[data-image-type="mineshaft"] {
  @include buildingBase;
  width: 113px;
  top: -95px;
  left: -71px;
}
[data-image-type="oreProcessing"] {
  @include buildingBase;
  width: 220px;
  top: -153px;
  left: -126px;
}
[data-image-type="smelter"] {
  @include buildingBase;
  width: 345px;
  top: -246px;
  left: -201px;
}
[data-image-type="assembler"] {
  @include buildingBase;
  width: 558px;
  top: -120px;
  left: -238px;
}
[data-image-type="storage"] {
  @include buildingBase;
  width: 280px;
  top: -74px;
  left: -125px;
}
.ghostImg {
  position: relative;
  img {
    @include buildingBase;
    width: 345px;
    top: -246px;
    left: -201px;
    opacity: 60%;
    z-index: 10000;
  }
}

.waterPump {
  position: relative;
  img {
    @include buildingBase;
    background-image: url(/img/buildings/waterPump.png);
  }
}
[data-underground-type="pipe"] {
  position: relative;
}
.clickArea {
  border: 3px solid black;
  box-sizing: border-box;
  position: relative;
  z-index: 98;
}
.noEvents {
  pointer-events: none;
}

.transperentBuilding {
  opacity: 50%;
}

[data-type="building"] {
  outline: 1px solid rgb(156, 155, 155) !important;
  background-image: url(/img/textures/concrete.jpg) !important;
  position: relative;
}

[data-image-type="upgrade"] {
  @include buildingBase;
  width: 102px !important;
  top: -35px !important;
  left: -43px !important;
  z-index: 99 !important;
  background-image: none !important;
}
