@mixin buildingBase {
  background-color: rgba(0, 0, 0, 0) !important;
  background-size: cover;
  border: none !important;
  transform: rotateZ(323deg) rotateY(68deg) rotate3d(8, -11, -5, 11deg);
  position: absolute;
  pointer-events: none;
  z-index: 999;
  &:hover {
    width: 100%;
    height: auto;
    filter: brightness(1) contrast(100%) saturate(100%) hue-rotate(0deg);
    /* Красный фильтр */
    background-color: rgba(255, 0, 0, 0.5);
  }
}
@mixin buildingShadow($bottom, $left, $width, $height) {
  z-index: 1;
  content: "";
  position: absolute;
  bottom: $bottom;
  left: $left;
  transform: translateX(-50%);
  width: $width;
  height: $height;
  background-color: rgba(0, 0, 0, 0.4);
  filter: blur(8px);
  pointer-events: none;
}

[data-image-type="mineshaft"] {
  @include buildingBase;
  width: 113px;
  top: -95px;
  left: -71px;
}
[data-image-type="quarry"] {
  @include buildingBase;
  width: 229px;
  top: -21px;
  left: -74px;
}

//ORE PROCESSING
[data-image-type="oreProcessing"] {
  @include buildingBase;
  transform: rotateZ(323deg) rotateY(63deg) rotate3d(8, -11, -5, 11deg);
  width: 245px;
  top: -128px;
  left: -127px;
}
[data-building-type="oreProcessing"][data-main-tile="true"]:after {
  @include buildingShadow(-36px, 28px, 92px, 106px); //bottom, left, width, height
}

[data-image-type="ironFoundry"] {
  @include buildingBase;
  width: 345px;
  top: -175px;
  left: -175px;
}
[data-image-type="cementPlant"] {
  @include buildingBase;
  transform: rotateZ(323deg) rotateY(65deg) rotate3d(8, -11, -5, 11deg);
  width: 339px;
  top: -125px;
  left: -147px;
}
[data-building-type="cementPlant"][data-main-tile="true"]:after {
  @include buildingShadow(-63px, 49px, 132px, 126px); //bottom, left, width, height
}

[data-image-type="assembler"] {
  @include buildingBase;
  width: 558px;
  top: -120px;
  left: -238px;
}
[data-image-type="mediumStorage"] {
  @include buildingBase;
  width: 280px;
  top: -74px;
  left: -125px;
}
[data-image-type="tradingTerminal"] {
  @include buildingBase;
  width: 335px;
  top: -22px;
  left: -134px;
}

.ghostImg {
  position: relative;
  img {
    @include buildingBase;
    opacity: 60%;
    z-index: 10000;
  }
}

[data-image-type="waterPump"] {
  @include buildingBase;
  transform: rotateZ(324deg) rotateY(62deg) rotate3d(8, -11, -5, 11deg);
  width: 85px;
  top: -25px;
  left: -34px;
  z-index: 99;
  background-image: none !important;
}
[data-underground-type="pipe"] {
  position: relative;
}

possibleConnectWith .clickArea {
  position: relative;
  z-index: 1;
}
.noEvents {
  pointer-events: none;
}

.transperentBuilding {
  opacity: 60%;
}

[data-type="building"] {
  position: relative;
}
.structure {
  position: relative;
}
.clickArea {
  position: relative;
  // pointer-events: all;
  z-index: 300;
}

[data-image-type="upgrade"] {
  @include buildingBase;
  width: 110px !important;
  top: -22px !important;
  left: -40px !important;
  z-index: 99 !important;
  background-image: none !important;
}
[data-image-type="cargoStation"] {
  @include buildingBase;
  width: 110px !important;
  top: -22px !important;
  left: -40px !important;
  z-index: 99 !important;
  background-image: none !important;
}
