@mixin connectorBase {
  background-image: url(/img/buildings/connector.png) !important;
  background-size: 40px 40px !important;
  position: relative;
}
@mixin splitterBase {
  background-image: url(/img/buildings/splitterModel.png) !important;
  background-size: 40px 40px !important;
  position: relative;
}
@mixin pipeBase {
  @include buildingBase;
  top: -13px;
  left: -13px;
  width: 60px;
}

[data-image-type="conveyor"] {
  @include buildingBase;
  position: absolute;
  width: 119px;
  top: -31px;
  left: -39px;
}

[data-image-type="pipe"][data-ghost-img="true"] {
  @include pipeBase();
  top: -14px;
  left: -9px;
  transform: rotate(319deg);
}
[data-pipe-type="cross"] {
  @include pipeBase();
  top: -14px;
  left: -9px;
  transform: rotate(308deg);
}
[data-pipe-type="tShapeTop"] {
  @include pipeBase();
  top: -14px;
  left: -9px;
  transform: rotate(308deg);
}
[data-pipe-type="tShapeRight"] {
  @include pipeBase();
  top: -14px;
  left: -9px;
  transform: rotate(308deg);
}
[data-pipe-type="tShapeBottom"] {
  @include pipeBase();
  top: -14px;
  left: -9px;
  transform: rotate(308deg);
}
[data-pipe-type="tShapeLeft"] {
  @include pipeBase();
  top: -14px;
  left: -9px;
  transform: rotate(308deg);
}
[data-pipe-type="topRightCorner"] {
  @include pipeBase();
  top: -21px;
  left: -3px;
  transform: rotate(322deg);
}
[data-pipe-type="rightBottomCorner"] {
  @include pipeBase();
  top: -14px;
  left: -6px;
  transform: rotate(310deg);
}
[data-pipe-type="bottomLeftCorner"] {
  @include pipeBase();
  top: -6px;
  left: -18px;
  transform: rotate(308deg);
}
[data-pipe-type="leftTopCorner"] {
  @include pipeBase();
  top: -19px;
  left: -18px;
  transform: rotate(308deg);
}
[data-pipe-type="vertical"] {
  @include pipeBase();
  top: -13px;
  left: -11px;
  transform: rotate(313deg);
}
[data-pipe-type="horizontal"] {
  @include pipeBase();
  transform: rotate(318deg);
}
[data-pipe-type="connector"] {
  @include pipeBase();
  top: -14px;
  left: -9px;
  transform: rotate(308deg);
}

[data-direction="up"],
[data-direction="down"] {
  position: relative;
  [data-image-type="conveyor"] {
    transform: rotateZ(323deg) rotateY(64deg) rotate3d(8, -11, -5, 11deg);
  }
  [data-image-type="connector"] {
    top: -40px;
    left: -48px;
  }
}
[data-direction="right"],
[data-direction="left"] {
  position: relative;
  [data-image-type="conveyor"] {
    transform: rotateZ(323deg) rotateY(62deg) rotate3d(8, -11, -5, 11deg);
  }
}

[data-image-type="connector"] {
  @include buildingBase;
  position: absolute;
  width: 116px;
  top: -42px;
  left: -48px;
  transform: rotateZ(323deg) rotateY(64deg) rotate3d(8, -11, -5, 11deg);
}
[data-image-type="undergroundConveyor"] {
  @include buildingBase;
  position: absolute;
  width: 114px;
  top: -41px;
  left: -47px;
  transform: rotateZ(323deg) rotateY(64deg) rotate3d(8, -11, -5, 11deg);
}

[data-image-type="splitter"] {
  @include buildingBase;
  position: absolute;
  width: 138px;
  top: -44px;
  left: -53px;
  transform: rotateZ(323deg) rotateY(64deg) rotate3d(8, -11, -5, 11deg);
}
[data-image-type="conveyorImg"] {
  @include buildingBase;
  opacity: 0;
  width: 25px;
  position: absolute;
  transition: all 750ms linear;
  top: -5px;
  left: -1px;
}
