@mixin ghostBase {
  border: 1px solid transparent !important;
  opacity: 80%;
  background-repeat: no-repeat;
  transform: rotate(313.5deg);
}
@mixin ghostPipeBase {
  background-image: url(/img/conveyors/pipe.svg) !important;
  background-size: 40px 40px !important;
}
//CONVEYOR GHOST
.conveyorUp-hover:hover {
  opacity: 70%;
}

.conveyorRight-hover:hover {
  opacity: 70%;
}

.conveyorDown-hover:hover {
  opacity: 70%;
}

.conveyorLeft-hover:hover {
  opacity: 70%;
}

//CONNECTOR GHOSTS
.connectorUp-hover:hover {
  @include connectorBase();
  opacity: 70%;
}

.connectorRight-hover:hover {
  @include connectorBase();
  transform: rotate(90deg);
  opacity: 70%;
}

.connectorDown-hover:hover {
  @include connectorBase();
  transform: rotate(180deg);
  opacity: 70%;
}

.connectorLeft-hover:hover {
  @include connectorBase();
  transform: rotate(270deg);
  opacity: 70%;
}

//SPLITTER GHOSTS
.splitterUp-hover:hover {
  @include splitterBase();
  opacity: 70%;
}

.splitterRight-hover:hover {
  @include splitterBase();
  transform: rotate(90deg);
  opacity: 70%;
}

.splitterDown-hover:hover {
  @include splitterBase();
  transform: rotate(180deg);
  opacity: 70%;
}

.splitterLeft-hover:hover {
  @include splitterBase();
  transform: rotate(270deg);
  opacity: 70%;
}
//PIPE GHOST
.pipeUp-hover:hover {
  @include ghostPipeBase();
  opacity: 70%;
}
.pipeRight-hover:hover {
  @include ghostPipeBase();
  transform: rotate(90deg);
  opacity: 70%;
}
.pipeDown-hover:hover {
  @include ghostPipeBase();
  transform: rotate(180deg);
  opacity: 70%;
}
.pipeLeft-hover:hover {
  @include ghostPipeBase();
  transform: rotate(270deg);
  opacity: 70%;
}

.road-hover {
  outline: 1px solid transparent !important;
  background-image: url(/img/textures/road.png) !important;
  position: relative;
  opacity: 80%;
}

//DEMOLITION GHOST
.demolition-hover:hover {
  filter: grayscale(100%) sepia(50%) hue-rotate(320deg) saturate(600%);
  z-index: 100;
}
//CONNECTION GHOST
.connection-hover {
  filter: grayscale(100%) sepia(50%) hue-rotate(13deg) saturate(600%);
}
.buildingCantPlace {
  filter: grayscale(100%) sepia(50%) hue-rotate(320deg) saturate(600%);
}
//BORDER GHOST
.canBePlaced {
  border: 2px solid white !important;
}
.cantBePlaced {
  border: 2px solid red !important;
  z-index: 100 !important;
}
