#game-container {
  display: flex;
  height: 100%;
  overflow: hidden;
  background-color: rgba(103, 103, 103, 0.591);
  flex-direction: column;
}

#limit-container {
  display: flex;
  overflow: hidden;
  margin: 0 auto;
  padding: 20px 0;
  width: 100%;
  height: 100vh;
  background-color: #dddddd13; /* Колір фону сітки */
  align-items: center;
  justify-content: center;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(40, 40px); /* Наприклад, 10 колонок шириною 50px кожна */
  grid-template-rows: repeat(40, 40px); /* 10 рядків */
  transform: rotateX(45deg) rotateZ(45deg);
  z-index: 10;
  transform-style: preserve-3d;
  border-right: 100px solid rgb(140, 94, 34);
  border-bottom: 100px solid rgb(83, 54, 18);
  clip-path: polygon(-1500% -1300%, 94% 0, 100% 6%, 100% 100%, 9% 103.3%, 0 94%);

  .grid-cell {
    background-image: url(/img/textures/grass.png);
    background-size: cover;
    background-repeat: repeat;
    outline: 1px solid #1dbc4d36;
  }
}
.containerOpacity {
  .grid-cell {
    outline: 1px solid rgb(58, 32, 7);
    background-image: url(/img/textures/dirt.png);
  }
}
.undergroundView {
  opacity: 50%;
  [data-image-type="pipe"] {
    opacity: 100% !important;
  }
}
