.interface-container {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  justify-content: center;
  pointer-events: none;
}

.tool-menu {
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 0;
  flex-direction: column;
  z-index: 1000;
  pointer-events: all;
  // &__group:not(:last-child) {
  //   border-right: 3px solid #2c2a2a98;
  // }
  &__modal {
    display: flex;
    height: 100px;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: var(--transGray);
  }
  &__btn {
    background-color: transparent;
    border: none;
    img {
      max-width: 100%;
      height: 100%;
    }
  }
  &__group {
    display: flex;
    position: absolute;
    justify-content: space-around;
    width: 30%;
    margin: 0 auto;

    button {
      height: 70px;
      width: 70px;
    }
  }
  &__bottomMenu {
    display: flex;
    background-color: var(--darkGray);
    width: 100%;
  }
  &__buttons {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 10px;
    width: 25%;
  }
  &__category {
    width: 35px;
    height: 35px;
    margin: 0 auto;
    position: relative;
    background-color: transparent;
    border: none;
    padding: 1px;
    img {
      max-width: 100%;
    }
  }
  &__block {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 75px;
    padding: 0 10px;
    span {
      font-size: 9px;
      text-align: center;
    }
  }

  &__modes {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
  }

  &__mode-btn {
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: none;
    padding: 2px;
    img {
      max-width: 100%;
    }
  }
}
#menu-container {
  display: flex;
  position: relative;
  z-index: 999;
  height: 100vh;
  width: 100%;
  pointer-events: none;
}
.smelterMenu,
.oreProcessingMenu,
.storageMenu,
.mineshaftMenu,
.assemblerMenu {
  display: flex;
  width: 100%;
  height: 100vh;
  // background-color: rgb(61, 59, 59);

  align-items: center;
  // border: 3px solid black;
  padding: 25px;
  justify-content: center;
  pointer-events: none;
}
.recipesBlock,
.storedItemsBlock {
  display: flex;
  flex-direction: column;
  background-color: rgb(61, 59, 59);
  border: 3px solid black;
  pointer-events: all;
  padding: 10px;
  gap: 10px;
  height: 80vh;
  overflow-y: auto;

  .materialBlock,
  .productBlock {
    height: 120px;
    width: 65px;
    padding: 0 10px;

    span {
      bottom: 3px;
    }
    .recipeName {
      display: flex;
      align-items: center;
      font-size: 14px;
      width: 70px;
      left: 5px;
      bottom: 5px;
    }
  }
}

.smeltingRecipe,
.oreProcessingRecipe {
  display: flex;
  justify-content: center;
}
.upgradesBlock {
  display: flex;
  gap: 10px;
  pointer-events: all;
  position: absolute;
}
.upgrade-menu {
  &__block {
    display: flex;
    flex-direction: column;
  }

  &__btn {
    img {
    }
  }
}

.proccessingBlock {
  display: flex;
  background-color: rgb(61, 59, 59);
  margin-left: auto;
  flex-direction: column;
  padding: 10px;
  pointer-events: all;
}
.itemsBlock {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.materialBlock,
.productBlock,
.fuel {
  position: relative;
  background-color: rgb(157, 156, 156);
  border: 2px solid rgb(41, 40, 40);
  height: 74px;
  width: 74px;
  span {
    position: absolute;
    bottom: -2px;
    right: 2px;
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}

.progressBarBlock {
  display: flex;
  width: 80%;
  border-radius: 5px;
  overflow: hidden;
  border: 3px solid black;
  margin: 10px auto;
  align-items: center;
  background-color: var(--lightGray);
}
.progressBar {
  width: 0;
  height: 20px;

  background-color: rgb(202, 73, 26);
  text-align: center;
  line-height: 30px;
  color: white;
}
.fuelBlock {
  display: flex;
}

.close-button {
  position: absolute;
  top: 3px;
  right: 3px;
  background-image: url(/img/buttonIcons/close.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 20px;
  height: 20px;
  margin-bottom: auto;
  pointer-events: all;
  border: none;
  cursor: pointer;
}

.storageMenu {
  .itemAmount {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    width: 100%;
    border-bottom: 3px solid black;
  }
}
.storedItemsBlock {
  width: 200px;
}
.storedItem {
  display: flex;
  padding: 5px;
  align-items: center;
  gap: 10px;
}
.itemImage {
  border: 3px solid black;
  max-width: 128px;
  max-height: 128px;
}
.itemTitle {
}
.itemBlock {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 10px;
  img {
    width: 128px;
  }
}

.statisticsBlock {
  display: flex;
  flex-direction: column;
  margin: 30px auto auto;
}
.increase,
.decrease {
  color: green;
  border-bottom: 2px solid black;
  text-align: center;
  width: 50px;
  margin-top: 10px;
}
.decrease {
  color: red;
}

.context-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  gap: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 8px;
  margin: 0;
  z-index: 1000;
  pointer-events: all;
}

.context-menu ul {
  padding: 0;
  margin: 0;
}

.context-menu li {
  cursor: pointer;
  padding: 6px 10px;
}

.context-menu li:hover {
  background-color: #f0f0f0;
}
h3 {
  text-align: center;
  color: #ccc;
  background-color: var(--black);
  font-size: 17px;
  text-transform: uppercase;
  padding: 2px 10px;
}

.twoMaterialsMenu,
.oneMaterialsMenu,
.threeMaterialsMenu,
.storageBldMenu,
.sourceBldMenu {
  display: flex;
  position: relative;
  right: -130px;
  top: 20px;
  flex-direction: column;
  background-color: var(--gray);
  min-width: 400px;
  max-width: 450px;
  height: 450px;
  pointer-events: all;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.5);

  &__items {
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 50px 15px 15px;
    background-color: var(--darkGray);
  }

  &__materials {
    display: flex;
    gap: 15px;
  }

  &__item {
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: center;
    color: #ccc;
    background-color: var(--black);
    border-radius: 10px 0 10px 0;
  }
  .materialImage,
  .productImage {
    margin: 0 auto;
    max-width: 80px;
  }
  .productName {
    padding: 3px 0;
    max-width: 85px;
    text-wrap: wrap;
  }
  .materialAmount,
  .productAmount {
    text-align: center;
    font-size: 20px;
    color: lightblue;
  }

  &__timeBlock {
    display: flex;
    position: relative;
    justify-content: center;
    height: 80px;
    width: 115px;
    padding: 2px 0;
    .resAmountPerMin {
      position: absolute;
      left: 10px;
      width: 43px;
      text-align: right;
    }
    .timeImage {
      position: absolute;
      width: 15px;
      height: 15px;
      padding: 3px;
      right: 37px;
    }
    .resTime {
      position: absolute;
      right: 17px;
      top: 2px;
    }
  }
  &__arrow {
    display: flex;
    align-items: center;
    img {
      width: 70px;
    }
  }
  .waterBlock {
    display: flex;
    position: absolute;
    left: 9px;
    top: 24px;
    background-color: var(--transRed);
    padding: 5px;
    border: 2px solid var(--black);
    img {
      width: 17px;
    }
  }
  .factoryStructures {
    display: flex;
    justify-content: center;
    background-color: var(--midLightGray);
    width: 100%;
  }
  .structureBlock {
    display: flex;
    padding: 15px 0 15px;
    gap: 10px;
    &__item {
      display: flex;
      position: relative;
      flex-direction: column;
      text-align: center;
      color: #ccc;
      background-color: var(--black);
    }
    &__button {
      display: flex;
      flex-direction: row-reverse;
      .structureBtn {
        position: relative;
        background-image: url(/img/buttonIcons/plus.png);
        background-size: contain;
        width: 50px;
        height: 50px;
        border: 5px solid var(--lightGray);
        background-color: var(--lightGray);
        margin-left: 10px;
        align-self: center;
      }
      h3 {
        position: absolute;
        right: 0;
        bottom: 42px;
        writing-mode: vertical-lr;
        text-orientation: upright;
        white-space: nowrap;
        font-size: 14px;
        padding: 10px 2px;
      }
    }
    &__arrow {
      display: flex;
      align-items: center;
      img {
        width: 70px;
      }
    }
  }
}

.cargoStationMenu {
  display: flex;
  position: relative;
  right: -130px;
  top: 20px;
  flex-direction: column;
  background-color: var(--darkGray);
  width: 400px;
  height: 515px;
  h2 {
    background-color: var(--white);
    text-transform: capitalize;
    font-size: 20px;
  }

  text-align: center;
  pointer-events: all;

  &__trucks {
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: var(--gray);
    padding-top: 10px;

    button {
      border: none;
      background-color: var(--white);
      text-transform: uppercase;
      padding: 3px 0;
      width: 100%;
    }

    div {
      display: flex;
      flex-direction: column;
      flex: 1;
    }

    .trucks {
      &__available {
        background-color: var(--lightGreen);
        height: 40px;
        padding: 0 5px;
        color: var(--black);
      }
      &__amount {
      }
      &__buttons {
        display: flex;
        flex-direction: row;
      }
      &__current {
        background-color: var(--lightYellow);
        height: 40px;
        padding: 0 5px;
        color: var(--black);
      }
    }
  }

  &__routes {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 140px;
    gap: 5px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 12px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #4a4a4a;
    }

    &::-webkit-scrollbar-track {
      background-color: var(--midLightGray);
    }
  }

  &__route {
    display: flex;
    padding: 5px;
    height: 35px;
    background-color: var(--lightGray);

    span {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    img {
      width: 30px;
      height: 30px;
    }

    input {
      margin-left: auto;
      width: 25px;
    }
  }
  &__noStations {
    background-color: var(--midLightGray);
    font-size: 18px;
    padding: 10px;
  }
  &__mode {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    padding: 5px 10px;
    align-items: center;

    button {
      img {
        max-height: 80px;
        max-width: 80px;
      }
    }
  }

  &__button {
    display: flex;
    flex-direction: column;
    color: #ccc;
    text-transform: uppercase;
    position: relative;

    span {
      padding: 5px 0;
    }

    .importSelect,
    .exportSelect {
      display: grid;
      grid-template-columns: auto auto auto auto;
      grid-template-rows: auto auto auto;
      padding: 10px 15px;
      background-color: var(--black);
      position: absolute;
      top: 100px;
      align-self: center;
      z-index: 999;
      overflow: auto;
      max-height: 382px;
      div {
        width: 110px;
        padding: 0 5px;
      }
      button {
        width: 100px;
        background-color: var(--lightGray);
      }
      span {
        font-size: 10px;
      }
    }
  }
  &__routeInfo {
    display: flex;
    flex-direction: column;
    pointer-events: all;
    align-items: center;

    button {
      position: absolute;
      top: 0;
      right: 0;
      background-image: url(/img/buttonIcons/close-btn.png);
      width: 20px;
      height: 20px;
      background-size: contain;
    }
    span {
      display: flex;
      background-color: var(--black);
      justify-content: center;
      padding: 10px 0;
      width: 100%;
      color: var(--lightWhite);
    }
  }

  &__item {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-right: auto;
    background-color: var(--gray);
    gap: 10px;
    pointer-events: all;
    width: 50%;
    span {
      position: absolute;
      right: 7px;
      bottom: 27px;
      font-size: 24px;
    }

    img {
      width: 85px;
      height: 85px;
      margin: auto;
    }
  }
}

.highlightElem {
  background-color: rgba(169, 169, 69, 0.628);
}
