@mixin natureFeature {
  transform: rotateZ(323deg) rotateY(68deg) rotate3d(8, -11, -5, 11deg);
  border: none !important;
  position: absolute;
  user-select: none;
  pointer-events: none;
  z-index: 100;
}

[data-ground-type="grass"] {
  background-image: url(/img/textures/grass.png);
  outline: 1px solid #1dbc4d36;
}
[data-ground-type="water"] {
  background-image: url(/img/animations/water.gif);
  outline: none;
}

[data-ground-type="sand"] {
  background-image: url(/img/textures/sand.jpg);
  outline: none;
}
[data-ground-type="clay"] {
  background-image: url(/img/textures/clay.png);
  outline: none;
}
[data-ground-type="limestone"] {
  background-image: url(/img/textures/limestone.png);
  outline: none;
}
[data-ground-type="stone"] {
  background-image: url(/img/textures/stone.png);
  outline: none;
}

[data-ground-type="forest"] {
  background-image: url(/img/textures/darkGrass.png);
  outline: none;
}
[data-ground-type="flowers"] {
  background-image: url(/img/textures/mediumGrass.png);
  outline: none;
}
[data-features-type="limeStoneRock"] {
  position: relative;
  img {
    @include natureFeature();
    width: 320px;
    top: -70px;
    left: -120px;
  }
}
[data-features-type="tree"] {
  position: relative;
  img {
    @include natureFeature();
    width: 60px;
    top: -30px;
    left: -25px;
  }

  .tree {
    @include natureFeature();
    width: 50px;
    top: -40px;
    left: -20px;
  }
  .pines {
    @include natureFeature();
    width: 70px;
    top: -45px;
    left: -30px;
  }
}
[data-features-type="rock"] {
  position: relative;
  img {
    @include natureFeature();
    width: 60px;
    top: -20px;
    left: -17px;
  }
}
[data-features-type="bush"] {
  position: relative;
  img {
    @include natureFeature();
    width: 60px;
    top: -5px;
    left: -10px;
  }
}
[data-features-type="reed"] {
  position: relative;
  img {
    @include natureFeature();
    width: 60px;
    top: -20px;
    left: -17px;
  }
}
