.darkTip {
  background-color: var(--midDarkGray) !important;
  padding: 2px;
}
[role="tooltip"] {
  display: none;
  background-color: var(--gray);
  color: white;
  border-radius: 4px;
  font-size: 13px;
  max-width: 310px;
  max-height: 380px;
  flex-direction: column;

  p {
    padding: 10px;
    font-size: 14px;
    background-color: var(--midDarkGray);
  }
  .resAmountPerMin {
    font-size: 16px;
    position: absolute;
    right: 30px;
  }
  p:last-of-type {
    text-align: center;
    padding: 5px;
  }
  .timeBlock {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

    .timeImage {
      width: 15px;
      height: 15px;
      position: absolute;
      right: 12px;
    }
    .resTime {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .resourcesBlock {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 5px;

    div {
      display: flex;
      width: 95%;
      margin: 0 auto;
      background-color: var(--gray);
      align-items: center;
    }
    .timeBlock {
      display: flex;
    }
    .resImage {
      width: 30px;
      height: 30px;
      padding: 3px;
    }
    .resName {
      padding: 0 10px;
      font-size: 14px;
      min-width: 75px;
    }
  }

  .costsBlock {
    display: flex;
    background-color: var(--gray);
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    padding: 5px 0;
    div {
      display: flex;
      position: relative;
      margin: 0 auto;
    }
    .resImage {
      max-width: 35px;
    }
    .resAmount {
      font-size: 13px;
      position: absolute;
      bottom: 0;
      right: -3px;
    }
  }
  .recipesTipBlock {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: var(--gray);
    width: 100%;
    .recipe {
      &__items {
        display: flex;
        align-items: center;
        margin: auto;
        position: relative;
        padding: 0 15px;
      }

      &__materials {
        display: flex;
        gap: 5px;
      }

      &__item {
        position: relative;
      }

      &__arrow {
        position: absolute;
        top: 25px;
        img {
          width: 30px;
        }
      }

      &__timeBlock {
        display: flex;
        position: relative;
        justify-content: center;
        margin-bottom: auto;
        width: 75px;
        padding: 2px 6px;
        .resAmountPerMin {
          position: absolute;
          left: 0;
        }
        .timeImage {
          position: absolute;
          width: 15px;
          height: 15px;
          padding: 3px;
          right: 16px;
        }
        .resTime {
          position: absolute;
          right: 7px;
          top: 2px;
        }
      }
      &__waterAndEnergyBlock {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 5px;
        align-items: center;
        justify-content: center;
        width: 20px;
        img {
          height: 18px;
        }
      }
      &__product {
      }
      &__itemImage {
        width: 40px;
      }
      &__itemAmount {
        position: absolute;
        right: 0;
        bottom: 0;
        font-size: 14px;
      }
    }

    .waterBlock {
    }
    .hidden {
    }
    .waterImage {
    }
  }
}
[role="tooltip"][data-show] {
  display: flex;
}
