[data-building-type="road"] {
  outline: 1px solid transparent !important;
  background-image: url(/img/textures/road.png) !important;
  position: relative;
}
.truck {
  transform: rotateZ(323deg) rotateY(68deg) rotate3d(8, -11, -5, 11deg);
  position: absolute;
  pointer-events: none;
  z-index: 100;

  top: -16px;
  left: -22px;
  transition: all 0.7s linear;
  img {
    background-color: rgba(0, 0, 0, 0);
    background-size: cover;
    width: 70px;
  }
  span {
    position: absolute;
    left: 45px;
    top: -7px;
    color: white;
    font-size: 12px;
  }
  .resource-marker {
    position: relative;
    img {
      width: 30px;
      height: 30px;

      top: -15px;
      left: 15px;
      position: absolute;
    }
  }
}

@mixin route {
  content: "";
  display: block;
  background-color: red;
}
.topRoute,
.rightRoute,
.downRoute,
.leftRoute {
  position: relative;
}
.topRoute:after {
  @include route();
  position: absolute;
  height: 100%;
  width: 2.5px;
  margin: auto;
  margin-left: 19px;
  bottom: 20px;
  left: 0;
  z-index: 99;
}

.downRoute:after {
  @include route();
  position: absolute;
  height: 100%;
  width: 2.5px;
  margin: auto;
  margin-left: 19px;
  top: 20px;
  left: 0;
  z-index: 99;
}

.leftRoute:after {
  @include route();
  position: absolute;
  width: 100%;
  height: 2.5px;
  margin-top: 20px;
  left: -20px;
  top: 0px;
  z-index: 99;
}
.rightRoute:after {
  @include route();
  position: absolute;
  width: 100%;
  height: 2.5px;
  margin-top: 20px;
  right: -21.5px;
  top: 0px;
  z-index: 99;
}
.pointRoute:before {
  content: "";
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: red;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
