[data-building-type="road"] {
  outline: 1px solid transparent !important;
  background-image: url(/img/textures/road.png) !important;
  position: relative;
}
.truck {
  transform: rotateZ(323deg) rotateY(68deg) rotate3d(8, -11, -5, 11deg);
  position: absolute;
  pointer-events: all;
  z-index: 100;

  top: -16px;
  left: -22px;
  transition: all 0.7s linear;

  &:hover {
    filter: grayscale(100%) sepia(50%) hue-rotate(13deg) saturate(600%);
  }
  img {
    background-color: rgba(0, 0, 0, 0);
    background-size: cover;
    width: 70px;
  }
  span {
    position: absolute;
    left: 45px;
    top: -7px;
    color: white;
    font-size: 12px;
  }
  .resource-marker {
    position: relative;
    img {
      width: 30px;
      height: 30px;

      top: -15px;
      left: 15px;
      position: absolute;
    }
  }
}

@mixin route {
  content: "";
  display: block;
  position: absolute;
  margin: auto;
  z-index: 99;
}
.topRoute,
.rightRoute,
.downRoute,
.leftRoute {
  position: relative;
}
.topRoute:after {
  @include route();
  height: 104%;
  width: 5px;
  margin-left: 19px;
  bottom: 20px;
  left: -1.5px;
}

.downRoute:after {
  @include route();
  height: 106%;
  width: 5px;
  margin-left: 19px;
  top: 20px;
  left: -2.5px;
}

.leftRoute:after {
  @include route();
  width: 104%;
  height: 5px;
  margin-top: 20px;
  left: -20px;
  top: -2.5px;
}
.rightRoute:after {
  @include route();
  width: 115%;
  height: 5px;
  margin-top: 20px;
  right: -22.5px;
  top: -2.5px;
}
.pointRoute:before {
  content: "";
  width: 13px;
  height: 13px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.routeColorChange:after {
  background-color: whitesmoke !important;
}

.truckMenu {
  display: flex;
  position: absolute;
  flex-direction: column;
  background-color: var(--darkGray);
  margin: auto;
  width: 260px;
  pointer-events: all;
  left: 50px;
  top: 50px;
  &__truckName {
    background-color: var(--black);
    color: var(--white);
    padding: 4px;
    text-align: center;
  }

  &__resBlock {
    display: flex;
    padding: 5px;
    max-width: 70%;
    justify-content: space-between;
  }

  &__resImg {
    width: 60px;
    height: 60px;
  }

  &__resName {
  }

  &__resAmount {
  }

  &__routeName {
    padding: 5px;
    background-color: var(--midLightGray);
  }

  &__sell-button {
    display: flex;
    gap: 5px;
    padding: 5px;
    margin-left: auto;
    margin-top: 5px;
    align-items: center;
    img {
      width: 20px;
    }
  }
}

.class::after {
  background-color: "color";
}
