@import url(https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700,900);
@import "./gameObjects/grid";
@import "./gameObjects/building.scss";
@import "./gameObjects/conveyors.scss";
@import "./interface/tips.scss";
@import "./gameObjects/natureFeatures.scss";
@import "./gameObjects/ghosts.scss";
@import "./interface/mainInterface.scss";
@import "./interface/menu.scss";
@import "./gameObjects/transport.scss";
@import "./gameObjects/animations.scss";
@import "./interface/buttons.scss";
@import "./interface/cargoStationMenu.scss";
@import "./interface/routesInfoMenu";
:root {
  --black: #222222;
  --midDarkGray: #333333;
  --midGray: #424141;
  --darkGray: #3b3b3b;
  --gray: #4e4d4d;
  --midLightGray: #5c5c5c;
  --lightGray: #6b6b6b;
  --white: #ccc;
  --lightWhite: #e0e0e0;

  --darkGreen: #00796b;
  --green: #4caf50;
  --lightGreen: #8bc34a;

  --darkYellow: #ff9800;
  --yellow: #ffeb3b;
  --lightYellow: #fff176;
  --lightBlue: #46a9c7;
  --lightRed: #a52a2a;

  --transRed: rgba(255, 0, 0, 0.308);
  --transGreen: #7ac02b64;
  --transGray: #656464d7;
  --transDarkGray: #3b3b3bdd;
  --transXXDarkGray: #3b3b3ba7;

  --radio-border-color: #8b8c89;
  --radio-checked-color: #ff9800;
  --radio-hover-color: #6b6b6b;
  --radio-disabled-bg-color: #d9d9d9;
}
* {
  padding: 0;
  margin: 0;
  user-select: none;
  font-family: "Roboto";
  font-weight: 400;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #4a4a4a;
  }

  &::-webkit-scrollbar-track {
    background-color: #636262;
  }
  p,
  span,
  label {
    color: var(--white);
  }
}
button,
input {
  cursor: pointer;
}
.buttonActive {
  outline: 3px solid var(--lightWhite);

  border-radius: 8px 0 8px 0;
}
body {
  overflow: hidden;
}
.hidden {
  display: none !important;
}
.hiddenPseudo::after {
  display: none;
}
.fade-in {
  opacity: 0;
  animation: fadeInAnimation 1.2s ease-in-out forwards;
}

.clear-after::after {
  content: none;
}

.orange {
  color: var(--darkYellow);
}
.blue {
  color: var(--lightBlue);
}
.red {
  color: var(--lightRed);
}
.green {
  color: var(--green);
}
.lockedImg {
  pointer-events: none;
  position: absolute;
}
