@import url(https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700,900);
@import "grid.scss";
@import "building.scss";
@import "conveyors.scss";
@import "tips.scss";
@import "natureFeatures.scss";
@import "ghosts.scss";
@import "menu.scss";
@import "transport.scss";
@import "animations.scss";
@import "buttons.scss";

:root {
  --black: #222222;
  --midDarkGray: #333333;
  --midGray: #424141;
  --darkGray: #3b3b3b;
  --gray: #4e4d4d;
  --midLightGray: #5c5c5c;
  --lightGray: #6b6b6b;
  --white: #ccc;
  --lightWhite: #e0e0e0;

  --darkGreen: #00796b;
  --green: #4caf50;
  --lightGreen: #8bc34a;

  --darkYellow: #ff9800;
  --yellow: #ffeb3b;
  --lightYellow: #fff176;

  --transRed: rgba(255, 0, 0, 0.308);
  --transGreen: #7ac02b64;
  --transGray: #656464d7;
}
* {
  padding: 0;
  margin: 0;
  user-select: none;
  font-family: "Roboto";
  font-weight: 400;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #4a4a4a;
  }

  &::-webkit-scrollbar-track {
    background-color: #636262;
  }
  p,
  span {
    color: var(--white);
  }
}
.buttonActive {
  outline: 3px solid var(--lightWhite);

  border-radius: 8px 0 8px 0;
}
body {
  overflow: hidden;
}
.hidden {
  display: none !important;
}
.hiddenPseudo::after {
  display: none;
}
.fade-in {
  opacity: 0;
  animation: fadeInAnimation 1.2s ease-in-out forwards;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-out {
  opacity: 1;
  animation: fadeOutAnimation 750ms ease-in-out backwards;
}

@keyframes fadeOutAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
